

@media (max-width: 1024px){
   
}



@media (max-width: 992px){

   // Custom Classes
   .text-content{
      width: 100%;
   }

   // navbar
   .navigation-wrap{
      text-align: center;
      // border: 2px solid red;

   }


   // Banner Design


   // Carosel Design


}



@media (max-width: 768px){

   // custom
   h1{
      font-size: 2.8rem;
   }
   h2{
      font-size: 2rem;
   }


   // top banner
   .top-banner{
      padding: 10rem 0 9rem;

   }

   // Story Section
   .story{
      height: auto;
      padding: 3rem 0;
   }


   // carousel design


   // newsletter

   // footer link

}


@media (max-width: 330px){


   
}